* {
    margin: 0;
    padding: 0;
    font-family: 'Irish Grover', cursive;
    text-align: center;
}

.cpuImgContainer, .playerImgContainer, .pullCardBtn, #card-back {
    width: fit-content;
    margin:auto;
    position:relative;
    border-radius: 15px;
}



.playwar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-top: 50vh;
    
}
.pullCardBtn{
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-bottom: 30px;
    
   
}
#playbtn {
    margin-bottom: 30px;
    background-color: #7b1113;
    border-radius: 12px;
}
#play,#playAgain{
    display:none;
    position: relative;
}
#startbtn{
    width: 25vh;
    position: relative;
    background-color: #7b1113;
    border-radius:12px;
}
#cpuWinIMG{
    display:none;
}
#playerWinIMG{
    display:none;
}
#win,#lose,#tied{
    text-align:center;
    font-size:500px;
    
} 
.playAgain{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
#playAgain{
    width: 25vh;
    position: relative;
}
.war{
    font-size:32px;
}

/* #cpuPlayPile, #playerPlayPile {
    position: absolute;
    
} */
/* #playerPiles{
width: fit-content;
  position: relative;
    margin: auto;}
#cpuPiles{width: fit-content;
  position: relative;
    margin: auto;} */